@import "tailwindcss";

@theme {
  --color-primary: #2d5bff;
  --color-secondary: #00e676;
  --color-accent: #f8fafc;
}

@layer base {
  body {
    @apply bg-[--color-accent] text-slate-900 antialiased;
  }
}
